# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# Credentials
src/db/serviceAccount.json
src/db/serviceAccountKey.json

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store